*{
    margin: 0;
}
.Jobpost{
    
    background-image: url("./assets/background.jpg");

    background-attachment:fixed;
    background-position:center;
    background-size: cover;
    height: 90vh;
    position:sticky;

}
.Joblist{
    background-image: url("./assets/joblist.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
   
    height: 30vh;
    margin: 3%;
    color: blue;
    text-decoration: none;
}